@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primarycolor: #333333;
  --secondarycolor: #eb5757;
  --hightlight: #ffffff;
  --spacing: 30px;
  --fontfamily: "Poppins", sans-serif;
  --colorbottomletter: #f2f2f2;
  --spacingshort: 20px;
  --spacingmini: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontfamily);
  min-height: 80vh;
}
header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  flex-wrap: wrap;
  width: 100vw;
}

header .logotype {
  width: 160px;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: var(--spacing);
}

header a {
  text-decoration: none;
  color: var(--primarycolor);
  font-weight: 500;
}

a.question {
  color: var(--secondarycolor);
}
a i {
  color: var(--secondarycolor);
}

header div {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

header div .buttom {
  background-color: var(--secondarycolor);
  color: var(--colorbottomletter);
  height: 70px;
  width: 140px;
  line-height: 70px;
  text-align: center;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.1s;

}

header div .buttom:hover{
    transform: scale(1.20);
    color:white;
}
header .menu {
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    font-size: 20px;
    justify-content: space-between;
  }
  header .logotype {
    width: 80px;
  }

  header ul {
    gap: var(--spacingshort);
  }
  header div {
    gap: var(--spacingshort);
  }
  header .icon {
    width: 30px;
  }
  header div .buttom {
    height: 35px;
    width: 70px;
    border-radius: 17px;
    line-height: 35px;
  }

  footer section img{
    height:35px;
  }
  footer{
    font-size: 14px;
  }
  footer section p{
    font-size: 14px;
  }
  footer section ul li:first-child {
    font-size: 80px;
    font-weight: 700;
  }
}

@media (min-width: 511px) and (max-width: 768px) {
  header {
    font-size: 12px;
    padding: 10px;
    justify-content: space-between;
  }

  header .logotype {
    width: 80px;
  }

  header ul {
    gap: var(--spacingmini);
  }
  header .icon {
    width: 30px;
  }

  header div {
    gap: var(--spacingmini);
  }
  header div .buttom {
    height: 35px;
    width: 70px;
    border-radius: 17px;
    line-height: 35px;
  }
}

@media (max-width: 510px) {
  header .menu {
    display: block;
    width: 60px;
  }

  header nav {
    display: none;
  }

  header div {
    display: none;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .firstpart {
    width: 100vw;
  }

  #container h1 {
    font-size: 50px;
    width: 80vw;
  }
  #container p,
  a {
    font-size: 15px;
  }
  #container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container i {
    display: none;
  }
  #container button {
    height: 100x;
    width: 160px;
    border-radius: 60px;
    line-height: 35px;
    color: white;
  }
  #container h3 {
    font-size: 14px;
  }
  #container h2 {
    font-size: 18px;
  }

  .secondpart {
    margin-top: 0;
  }
  footer ul {
    display: none;
  }

  footer img {
    display: none;
  }

  footer p {
    display: none;
  }

  footer div a {
    font-size: 60px;
  }

  footer section {
    min-width: 95vw;
    display: flex;
    justify-content: center;
  }

  #container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

/* ////////////////////////////////////////////////////////////// */


.firstpart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  width: 100vw;
  padding: 10px;
  
}

.firstpart p {
  font-size: 22px;
  font-weight: 500;
  color: var(--primarycolor);
  
}

.firstpart li {
  list-style-type: none;
}
aside ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: min-content;
  gap: var(--spacing);
}
.firstpart a {
  text-decoration: none;
  
}

.firstpart li .buttom {
  background-color: var(--secondarycolor);
  height: 80px;
  width: 200px;
  line-height: 80px;
  text-align: center;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.1s;
}
.firstpart li .buttom:hover{
    transform: scale(1.20);
    color: white;
}


.firstpart ul > li:first-child a {
  color: var(--colorbottomletter);
  font-size: 20px;
  font-weight: 700;
}

.firstpart ul > li:last-child a {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  width: 200px;
  line-height: 80px;
  text-align: center;
}

.fa-play {
  font-size: 26px;
  margin-right: 12px;
  color: var(--secondarycolor);
  cursor: pointer;
}

.fa-play:hover{
    transform: scale(1.50);

}

.firstsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 28px;
  gap: var(--spacingmini);
  align-items: center;
  flex: 0 0 50%;
}

.secondsection{
    
    flex: 0 0 50%;
}

.firstsection h1{
  font-size: 100px;
  font-weight: 800;
 
  
}

.firstsection span {
  color: var(--secondarycolor);
}


.secondsection img {
  width: 100%;
  object-fit: cover;
  
}

.secondpart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: var(--spacingmini);
  
}

.secondpart h3 {
  color: var(--secondarycolor);
  align-items: center;
  font-size: 28px;
  letter-spacing: 4px;
}

.secondpart h2 {
  color: var(--primarycolor);
  font-weight: 800;
  font-size: 60px;
  align-items: center;
}
.secondpart img {
  max-width: 80vw;
  border: 1px black dashed;
  flex:0 0 ;

}

footer {
  display: flex;
  justify-content: space-between;
  padding: var(--spacingmini);
  
  width: 100vw;
}

footer ul{
    max-width: 80vw;
    
}

footer li,
a {
  text-decoration: none;
  list-style-type: none;
  color: var(--primarycolor);
  margin-bottom: 10px;
  max-width: 18vw;
}

footer ul > li:first-child {
  font-size: 20px;
  font-weight: 700;
}

footer section {
  display: flex;
  flex-direction: column;
  max-width: 15vw;
  
  
}

footer section img {
  width: 15vw;
}

footer p {
  font-size: 18px;
  font-weight: 400;
}

footer div {
  display: flex;
  font-size: 30px;
  justify-content: center;
  gap: var(--spacingmini);
}
